[Unit]
Description=NeoFS S3 Gateway
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/bin/neofs-s3-gw --config /etc/neofs/s3/config.yaml
User=neofs-s3
Group=neofs-s3
WorkingDirectory=/var/lib/neofs/s3
Restart=always
RestartSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
