name: Tests

on:
  pull_request:
    branches:
      - master
      - 'support/*'
    types: [opened, synchronize]
    paths-ignore:
      - '**/*.md'

jobs:
  lint:
    name: Lint
    uses: nspcc-dev/.github/.github/workflows/go-linter.yml@master

  cover:
    name: Coverage
    runs-on: ubuntu-latest

    env:
      CGO_ENABLED: 1
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          cache: true
          go-version: '1.25'

      - name: Test and write coverage profile
        run: make cover

      - name: Upload coverage results to Codecov
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: false
          files: ./coverage.txt
          verbose: true

  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go_versions: [ '1.24', '1.25' ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          cache: true
          go-version: '${{ matrix.go_versions }}'

      - name: Run tests
        run: make test
